/* CSS declarations go here */
body {
    margin: 10px 25px;
}

header {
    width: 500px;
}

a {
    color: #009FDA;
    text-decoration: none;
}
a:hover {
    color: #00BAFF;
}

text {
    color: black;
}
